files:
  "/etc/nginx/conf.d/myapp.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          location / {
              proxy_pass http://localhost:3001;  # Cambia el puerto según tu aplicación
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection 'upgrade';
              proxy_set_header Host $host;
              proxy_cache_bypass $http_upgrade;
          }
      }
