option_settings:
  aws:ec2:vpc:
    VPCId: vpc-007b787f2b2d9453f
    Subnets: 
    - subnet-01dbf3a887c2a3058
    - subnet-047eec0d7e754bfe6
    - subnet-0ec986c2b3d819c22
    - subnet-0474489bdc9e79d03
  aws:ec2:vpc:elb:
    ELBSecurityGroups: 
    - sg-08a326c4440f5e8ce
    - sg-01bc1f726150da892
    - sg-05b0d2244fd8dac1d
  aws:ec2:vpc:instances:
    SecurityGroups: 
    - sg-08a326c4440f5e8ce
    - sg-01bc1f726150da892
    - sg-05b0d2244fd8dac1d
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
